/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }
/* My code  */

@font-face {
    font-family: "inter"; 
    src:
      url("../fonts/inter-regular-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: "inter";
}

:root {
    --light-color: #d5bb98;
    --medium-color: #bfa888;
    --dark-color: #aa9579;
}

body, button:hover {
    background-color: var(--light-color);
}

nav, h1, .text, .menu-container {
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1rem;
    background-color: var(--dark-color);
}

button, h1, .text, img, .menu-container {
    background-color: var(--medium-color);
}

button, h1, .text {
    text-align: center;
}

button {
    width: 100px;
    height: 40px;
    padding: 9px 6px;
    border-radius: 50px;
    border-style: none;
    font-weight: bold;
}

img {
    padding-left: 20px;
    padding-right: 20px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}


